* {
    padding: 20;
    margin: 20;
    text-decoration:none ;
    list-style: none;
    box-sizing: border-box;
}
 nav {
    background-color: #dcd3d6;
    height: 60px;
 }
 nav li{
    float: right;
    margin-right:20px;
 }

 label.logo {
    color: white;
    font-size: 35px;
    line height: 80px;
    padding: 0 100px;
    
 }

 nav li {
    display: inline-block;
    line-height: 60px;
    margin: 3px;
 }
 